<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="./public/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <title>Varastosofta</title>
</head>
<script>

    $(document).ready(function () {

        $(window).scroll(function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                $("#topBtn").css("display", "block");
            } else {
                $("#topBtn").css("display", "none");
            }
        });

        $("#topBtn").click(function topFunction() {
            $(document.body).scrollTop(0);
            $(document.documentElement).scrollTop(0);
        });

        function lataaEtusivu() {
            $("#maindiv").empty();
            $("#maindiv").load("/yhteenveto");
        }

        $("#etusivu").click(function naytaEtusivu() {
            $("#maindiv").empty();
            $("#maindiv").load("/yhteenveto");
        })


        $("#kerailylista").click(function naytaKerailylista() {
            $("#maindiv").empty();
            $("#maindiv").load("/kerailylista");
        })

        $("#ostoskorisivu").click(function naytaKerailylista() {
            $("#maindiv").empty();
            $("#maindiv").load("/ostoskorisivu");
        })

        $("#kayttajienhallinta").click(function naytaKayttajienhallinta() {
            $("#maindiv").empty();
            $("#maindiv").load("/kayttajienhallinta");
        })

        
        lataaEtusivu(); // todo: lataa etusivun vain ensimmäisellä kerralla

    });

</script>

<body>

    <!-- Ylänavi alkaa -->

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" id="ylanavi">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#etusivu" id="etusivu">Etusivu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#kerailylista" id="kerailylista">Keräilylista</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#ostoskorisivu" id="ostoskorisivu">Noutolista</a>
                </li>
                <% if (kayttoOikeus == 1) { %>
                <li class="nav-item dropdown">
                    <a class="nav-link btn dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Asetukset
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#varastot" id="varastot">Varastot</a>
                        <a class="dropdown-item" href="#tarviketyypit" id="tarviketyypit">Tarviketyypit</a>
                        <a class="dropdown-item" href="#yksikot" id="yksikot">Yksiköt</a>
                        <a class="dropdown-item" href="#kayttajienhallinta" id="kayttajienhallinta">Käyttäjien
                            hallinta</a>
                    </div>
                </li>
                <% } %>
                <li class="nav-item">
                    <a class="nav-link" href="/logout" id="logout">Kirjaudu ulos</a>
                </li>
            </ul>
        </div>
    </nav>


    <!-- Ylänavi päättyy -->
    <div class="mainwrapper">
        <div id="maindiv">
            <!-- Tämän divin sisälle ladataan kaikki toiminnot muista html:istä -->
        </div>
    </div>

    <!-- Buttoni, jolla pääsee sivun yläreunaan takaisin -->
    <button id="topBtn">Ylös</button>

</body>

</html>