<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="./public/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <title>Varastosofta</title>
</head>
<script>
    $(document).ready(function () {

        function lataaEtusivu() {
            $("#maindiv").empty();
            $("#maindiv").load("/yhteenveto");
        }

        $("#etusivu").click(function naytaEtusivu() {
            $("#maindiv").empty();
            $("#maindiv").load("/yhteenveto");
        })


        $("#asetukset").click(function naytaAsetukset() {
            $("#maindiv").empty();
            $("#maindiv").load("/asetukset");
        })

        $("#kerailylista").click(function naytaKerailylista() {
            $("#maindiv").empty();
            $("#maindiv").load("/kerailylista");
        })

        $("#ostoskorisivu").click(function naytaKerailylista() {
            $("#maindiv").empty();
            $("#maindiv").load("/ostoskorisivu");
        })
        /*
        function haeVarastot() {
            $.get("http://localhost:3002/varastot", function (data, status) {
                $.each(data, function (i, item) {
                    $("#dropdown").append(
                        '<option value="' + item.varastoID + '">' + item.nimi + '</option>'
                    )
                });
            });
        }

        function suodataTaulukko(vid) {
                $("#taulu").empty();
                $("#taulu").html('<thead class="thead-dark"><tr><th scope="col">Id</th><th scope="col">Nimike</th><th scope="col">Kuvaus</th><th scope="col">Määrä</th><th scope="col">Yksikkö</th><th scope="col">(painikesarake)</th></tr>');
                $.get("http://127.0.0.1:3002/tarvikkeet", { "tarvikkeet.varastoID": vid }).done(function (data) {
                    var len = data.length;
                    for (var i = 0; i < len; i++) {
                        $("#taulu").append(
                            "<tr>" +
                            "<th scope='row'>" + data[i].ID + "</th>" +
                            "<td>" + data[i].Nimi + "</td>" +
                            "<td>" + data[i].Kuvaus + "</td>" +
                            "<td>" + data[i].Määrä + "</td>" +
                            "<td>" + data[i].Yksikkö + "</td>" + "</tr>"


                        )
                        $("#taulu").append("</tbody>")
                    }
                })


            };

        $("#dropdown").change(function (){
            var vid = $("#dropdown").find(":selected").val();

            if (vid != "defaultval") {
                suodataTaulukko(vid);
            }
            else {
                $("#taulu").empty();
            $("#taulu").html('<thead class="thead-dark"><tr><th scope="col">Id</th><th scope="col">Nimike</th><th scope="col">Kuvaus</th><th scope="col">Määrä</th><th scope="col">Yksikkö</th><th scope="col">(painikesarake)</th></tr>');
            $.getJSON("http://127.0.0.1:3002/tarvikkeet", function (data) {
                var len = data.length;
                for (var i = 0; i < len; i++) {
                    $("#taulu").append(
                        "<tr>" +
                        "<th scope='row'>" + data[i].ID + "</th>" +
                        "<td>" + data[i].Nimi + "</td>" +
                        "<td>" + data[i].Kuvaus + "</td>" +
                        "<td>" + data[i].Määrä + "</td>" +
                        "<td>" + data[i].Yksikkö + "</td>" + "</tr>"
                         )
                    $("#taulu").append("</tbody>")
                }
            })

            }
        })

        lataaEtusivu();
        haeVarastot();
        */
        lataaEtusivu(); // todo: lataa etusivun vain ensimmäisellä kerralla

    });

</script>
<body>
    
    <!-- Ylänavi alkaa -->

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" id="ylanavi">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#etusivu" id="etusivu">Etusivu</a>
                </li>
               <li class="nav-item">
                    <a class="nav-link" href="#kerailylista" id="kerailylista">Keräilylista</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#ostoskorisivu" id="ostoskorisivu">Ostoskori</a>
                </li>
                 <% if (kayttoOikeus == 1) { %>
                <li class="nav-item">
                    <div class="dropdown show">
                        <a class="nav-link btn dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Asetukset
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#varastot" id="varastot">Varastot</a>
                            <a class="dropdown-item" href="#tarviketyypit" id="tarviketyypit">Tarviketyypit</a>
                            <a class="dropdown-item" href="#yksikot" id="yksikot">Yksiköt</a>
                            <a class="dropdown-item" href="#kayttajienhallinta" id="kayttajienhallinta">Käyttäjien hallinta</a>
                        </div>
                   </div>
                </li>
                <% } %>
                <li class="nav-item">
                    <a class="nav-link" href="/logout" id="logout">Kirjaudu ulos</a>
                </li>
            </ul>
        </div>
    </nav>


    <!-- Ylänavi päättyy -->
    <div class="mainwrapper">
        <div id="maindiv">
            <!-- Tämän divin sisälle ladataan kaikki toiminnot muista html:istä -->
        </div>
    </div>

</body>

</html>
