<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <script>
        $(document).ready(function(){
            function tulostaKayttajat() {
                $.getJSON( "http://127.0.0.1:3002/users", function (data) {
                    var len = data.length;
                    for (var i=0; i < len; i++) {
                        $("#kayttajat").append(
                            "<button type='button' class='list-group-item list-group-item-action list-group-item-light'>" + data[i].kayttajatunnus + "</button> "
                        )

                    }
                })
            };
            tulostaKayttajat();
        })
    </script>

    <body>
        <br>
        <br>
        <h1>Käyttäjien hallinta</h1>
        <hr>
        <br>
        <div class="row" id="kayttajatContainer">
            <div class="col-sm-6">
                <div class="list-group" id="kayttajat">
                </div>
            </div>
            <div class="col-sm-6">
                <button type="button" id="lisaabtn" class="btn btn-dark btn-md" data-toggle="modal" data-target="#lisaaKayttaja">Lisää</button>
                <br>
                <button type="button" id="muokkaabtn" class="btn btn-dark btn-md">Muokkaa</button>
                <br>
                <button type="button" id="poistabtn" class="btn btn-dark btn-md">Poista</button>
                <br>
            </div>
        </div>
        <div class="modal fade" id="lisaaKayttaja" tabindex="-1" role="dialog" aria-labelledby="lisaaKayttajaLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="lisaaKayttajaLabel">Luo uusi käyttäjä</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="kayttajanimi" class="col-form-label">Käyttäjänimi</label>
                                <input type="text" class="form-control" id="kayttajanimi">
                            </div>
                            <div class="form-group">
                                <label for="salasana" class="col-form-label">Salasana</label>
                                <input type="password" class="form-control" id="salasana">
                            </div>
                            <div class="form-group">
                                <label for="luokka" class="col-form-label">Luokka</label>
                                <select class="custom-select" class="form-control" id="luokka">
                                    <option value="">Valitse luokka</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="kayttooikeus" class="col-form-label">Käyttöoikeus</label>
                                <select class="custom-select" required>
                                    <option value="">Valitse käyttöoikeus</option>
                                    <option value="1">Täydet käyttöoikeudet (Opettajille)</option>
                                    <option value="2">Rajoitetut käyttöoikeudet (Oppilaille)</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-dismiss="modal">Sulje</button>
                        <button type="button" class="btn btn-dark">Tallenna</button>
                    </div>
                </div>
            </div>
        </div>



    </body>
</html>
