<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <script>
        $(document).ready(function(){
            function tulostaKayttajat() {
                $.getJSON( "http://127.0.0.1:3002/users", function (data) {
                    var len = data.length;
                    for (var i=0; i < len; i++) {
                        $("#kayttajat").append(
                            "<tr>" + 
                            "<td>" + data[i].kayttajatunnus + "</td>" +
                            "<td>" + data[i].luokanNimi + "</td>" +
                            "<td>" + data[i].kayttoOikeus + "</td>" +
                            "<td><button type='button' id='muokkaabtn' class='btn btn-dark' data-toggle='modal' data-target='#muokkaaKayttajaa' data-kayttajatunnus='" + data[i].kayttajatunnus + "'>Muokkaa</button>" +
                            "<td><button type='button' id='poistabtn' class='close' data-toggle='modal' data-target='#poistoVahvistus' aria-label='Close' data-kayttajatunnus='" + data[i].kayttajatunnus + "'><span aria-hidden='true'>&times;</span></button>" +
                            "</tr>"
                        )

                    }
                    $("#kayttajat").append("</tbody>")
                })
            };
            tulostaKayttajat();
        })
    </script>

    <body>
        <br>
        <br>
        <h1>Käyttäjien hallinta</h1>
        <hr>
        <br>
        <div class="row" id="kayttajatContainer">
            <button type="button" id="lisaabtn" class="btn btn-dark btn-md" data-toggle="modal" data-target="#lisaaKayttaja">Lisää käyttäjä</button>
            <div class="col-sm-12">
                <table class="table" id="kayttajat">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Käyttäjätunnus</th>
                            <th scope="col">Luokka</th>
                            <th scope="col">Käyttöoikeus</th>
                            <th scope="col">Muokkaa</th>
                            <th scope="col">Poista</th>
                        </tr>
                    </thead>
                    <tbody>
                        <br>
            </div>
        </div>

        <div class="modal fade" id="lisaaKayttaja" tabindex="-1" role="dialog" aria-labelledby="lisaaKayttajaLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="lisaaKayttajaLabel">Luo uusi käyttäjä</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="kayttajanimi" class="col-form-label">Käyttäjänimi</label>
                                <input type="text" class="form-control" id="kayttajanimi">
                            </div>
                            <div class="form-group">
                                <label for="salasana" class="col-form-label">Salasana</label>
                                <input type="password" class="form-control" id="salasana">
                            </div>
                            <div class="form-group">
                                <label for="salasanauudelleen" class="col-form-label">Kirjoita salasana uudelleen</label>
                                <input type="password" class="form-control" id="salasanauudelleen">
                            </div>
                                <div class="form-group">
                                    <label for="luokkaID" class="col-form-label">Luokka</label>
                                    <select class="custom-select" class="form-control" id="luokkaID">
                                        <option value="">Valitse luokka</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="kayttoOikeus" class="col-form-label">Käyttöoikeudet</label>
                                    <select class="custom-select" required id="kayttoOikeus">
                                        <option value="">Valitse käyttöoikeudet</option>
                                        <option value="1">Täydet käyttöoikeudet (Opettajille)</option>
                                        <option value="2">Rajoitetut käyttöoikeudet (Oppilaille)</option>
                                    </select>
                                </div>
                        </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Peruuta</button>
                                <button type="button" class="btn btn-primary">Tallenna</button>
                            </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="muokkaaKayttajaa" tabindex="-1" role="dialog" aria-labelledby="muokkaaKayttajaaLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="muokkaaKayttajaaLabel">Muokkaa käyttäjää</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="kayttajanimi" class="col-form-label">Käyttäjänimi</label>
                                    <input type="text" class="form-control" id="mkayttajanimi">
                                </div>
                                <div class="form-group">
                                    <label for="salasana" class="col-form-label">Salasana</label>
                                    <input type="password" class="form-control" id="msalasana">
                                </div>
                                <div class="form-group">
                                    <label for="salasanauudelleen" class="col-form-label">Kirjoita salasana uudelleen</label>
                                    <input type="password" class="form-control" id="msalasanauudelleen">
                                </div>
                                <div class="form-group">
                                    <label for="luokkaID" class="col-form-label">Luokka</label>
                                    <select class="custom-select" class="form-control" id="mluokkaID">
                                        <option value="">Valitse luokka</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="kayttoOikeus" class="col-form-label">Käyttöoikeudet</label>
                                    <select class="custom-select" required id="mkayttoOikeus">
                                        <option value="">Valitse käyttöoikeudet</option>
                                        <option value="1">Täydet käyttöoikeudet (Opettajille)</option>
                                        <option value="2">Rajoitetut käyttöoikeudet (Oppilaille)</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Peruuta</button>
                            <button type="button" class="btn btn-primary">Tallenna</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="poistoVahvistus" tabindex="-1" role="dialog" aria-labelledby="poistaKayttajaLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="poistaKayttajaLabel">Poista käyttäjä</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/users/delete">
                                <div class="container">
                                    <p>Haluatko varmasti poistaa käyttäjän?</p>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Peruuta</button>
                                        <button type="button" class="btn btn-primary">Kyllä</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>



    </body>
</html>
