<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
    <script src="https://unpkg.com/jspdf-autotable@3.4.3/dist/jspdf.plugin.autotable.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<script>

    $(document).ready(function () {

        // tablen lajittelu

        $(document).on("click", "th", function () {
            var table = $(this).parents('table').eq(0)
            var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
            this.asc = !this.asc
            if (!this.asc) { rows = rows.reverse() }
            for (var i = 0; i < rows.length; i++) { table.append(rows[i]) }
        })

        function comparer(index) {
            return function (a, b) {
                var valA = getCellValue(a, index), valB = getCellValue(b, index)
                return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
            }
        }

        function getCellValue(row, index) { return $(row).children('td').eq(index).text() }

        var timeOut = 500;



        // Koodi top-buttonin ilmestymiselle/piilottamiselle
        $(window).scroll(function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                $("#topBtn").css("display", "block");
            }
            else {
                $("#topBtn").css("display", "none");
            }
        });

        $("#topBtn").click(function topFunction() {
            $(document.body).scrollTop(0);
            $(document.documentElement).scrollTop(0);

        });

        // Käy tarvikkeet-taulun läpi ja lisää raja-arvon alittavat tarvikkeet klistat-tauluun.
        function suodataLoppuvat() {
            $.getJSON("/tarvikkeet", function (data) {

                var len = data.length;
                for (var i = 0; i < len; i++) {
                    var rarvo = data[i].halytysraja;
                    var maara = data[i].maara;

                    if (maara < rarvo) {
                        $.post('/klistat?tarvikeID=' + data[i].ID, {})
                    }

                }


            });

        }

        function tyhjennaKlistatTaulu() {
            var listID = 0;
            $.ajax({
                url: '/klistat',
                method: 'DELETE',
                data: { "klistaID": listID }
            })
        }

        // Hakukentän toiminnallisuus
        $("#hakuInput").on("keyup", function () {
            var filter = $(this).val().toUpperCase();

            // haku tapahtuu kolmen ensimmäisen sarakkeen välillä.
            $("table tr").each(function () {
                if ($(this).closest('tr').children('td:nth-child(1)').text().toUpperCase().match(filter)
                    || $(this).closest('tr').children('td:nth-child(2)').text().toUpperCase().match(filter)
                    || $(this).closest('tr').children('td:nth-child(3)').text().toUpperCase().match(filter)
                ) {
                    $("#tableRow").show();
                    $(this).show();
                } else {
                    $("#tableRow").show();
                    $(this).hide();
                }
            })
        });



        // Listaa tarvikkeet taulukkoon.
        function listaaKlista() {
            $("#kerailyTaulu").empty();
            $("#kerailyTaulu").html('<thead class="thead-dark"><tr id="tableRow"><th scope="col">Nimike</th><th scope="col">Kuvaus</th><th scope="col">Varastossa</th><th scope="col">Varasto</th><th scope="col">Hankintapaikka</th><th scope="col">Tilataan</th><th scope="col">Hinta</th><th scope="col">Yht</th><th scope="col">Poisto</th></tr>');
            $.getJSON("/klistat", function (data) {
                var len = data.length;
                for (var i = 0; i < len; i++) {
                    $("#kerailyTaulu").append(
                        "<tbody>" +
                        "<tr>" +
                        "<th scope='row'>" + data[i].nimi + "</th>" +
                        "<td>" + data[i].kuvaus + "</td>" +
                        "<td>" + data[i].maara + " " + data[i].yksikko + "</td>" +
                        "<td>" + data[i].varasto + "</td>" +
                        "<td>" + data[i].hpaikka + "</td>" +
                        "<td>" + "<input class='kerroin' min='0' type='number' placeholder='0'>" + "</td>" +
                        "<td id='hinta'>" + data[i].hinta + " €" + "</td>" +
                        "<td>" + "<input type='text' class='colYhteensa' placeholder='0' readonly>" + "</td>" +

                        "<td>" + "<a href='javascript:void(0);' class='removep'>Poista</a>" + "</td>" + "</tr>"

                    )
                    $("#kerailyTaulu").append("</tbody>")
                }
            })
        };
        /*
        //Tulostus
        function tulosta() {
            var mywindow = window.open('', 'PRINT', 'height=600,width=800');

            mywindow.document.write('<html><head><title>Tulostus</title>');
            mywindow.document.write('</head><body >');
            mywindow.document.write('<h1>Keräilylista</h1>');
            mywindow.document.write('<table>')
            mywindow.document.write(document.getElementById("kerailyTaulu").innerHTML);
            mywindow.document.write('</table></body></html>');

            mywindow.document.close();
            mywindow.focus();

            mywindow.print();

        };
        */

        tyhjennaKlistatTaulu();

        suodataLoppuvat();

        $("#btnHaeListaus").click(function () {
            listaaKlista();
        })

        /*$("#btnLisaaTauluun").click(function() {
            suodataLoppuvat();
        })

        $("#btnTyhjennaTaulu").click(function() {
            tyhjennaKlistatTaulu();
        })
        */

        $("#btnTulosta").click(function () {
            tulosta();
        })

        $("#btnPDF").click(function () {
            var doc = new jsPDF();
            var res = doc.autoTableHtmlToJson(document.getElementById("kerailyTaulu"));
            var columns = [res.columns[0], res.columns[1], res.columns[2], res.columns[3], res.columns[4], res.columns[5]];
            doc.autoTable(columns, res.data, { startY: 10 });
            doc.save('ostoslista.pdf');
        });



        // Metodi, joka laskee keräilylistan eri inputteihin yhteishinnan.
        $(document).on('input', '.kerroin', function () {
            var loppusumma = 0;
            $("#kerailyTaulu tbody tr").each(function () {
                var yht = 0;
                var kerroin = $(this).find(".kerroin").val();
                var hinta = parseFloat($(this).find("#hinta").text());
                yht = kerroin * hinta;
                $(this).find(".colYhteensa").val(yht + " €");
            })

            $("#kerailyTaulu tbody tr .colYhteensa").each(function () {
                loppusumma += parseFloat($(this).val());
            })

            $(function () {
                $("#txbYhteensa").val(loppusumma + " €");
            })

        })

    });
</script>

<body>

    <div id="yhteenvetodiv">
        <%- include('partials/navbar', {kayttoOikeudet : kayttoOikeus, navKayttajatunnus : kayttajatunnus}) %>
        <div class="mainwrapper">
            <br>
            <br>
            <h1>Keräilylista</h1>
            <hr>

            <div id="suodatusContainer">
                <div class="row justify-content-sm-center">
                    <input type="text" placeholder="Hae">
                    <!--<button type="button" id="btnTyhjennaKlista" class="btn btn-dark">Tyhjennä lista</button>-->
                    <button type="button" id="btnHaeListaus" class="btn btn-dark">Hae listaus</button>
                    <!--  <button type="button" id="btnLisaaTauluun" class="btn btn-dark">Lisää tauluun</button> -->
                    <!--  <button type="button" id="btnTyhjennaTaulu" class="btn btn-dark">Tyhjennä taulu</button> -->
                    <!-- <button type="button" id="btnTulosta" class="btn btn-dark">Tulosta</button> -->
                    <!--Painike käyttöohjeen avaamiseen-->
                    <button type="button" id="btnTarvikkeetOhje" class="btn btn-dark" data-toggle="modal"
                        data-target="#kayttoohjeDialog">Ohje</button>
                    <button type="button" id="btnPDF" class="btn btn-dark">Tallenna PDF</button>
                </div>
            </div>


            <table class="table" id="kerailyTaulu">
            </table>

            <div id="yhteensaDiv">
                <p>Yhteensä <input type="text" id="txbYhteensa" readonly> </p>
            </div>

            <div class="modal fade" id="kayttoohjeDialog" tabindex="-1" role="dialog" aria-labelledby="kayttoohjeLabel"
                aria-hidden="true">
                <div class="modal-dialog" id="kayttoohjeModalDialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="kayttoohjeLabel">Käyttöohje</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="kayttoohjeModalBody">
                            <h4>Yleinen</h4>
                            <img src="/media/kerailylista1.JPG" alt="kerailylista1" width="100%">
                            Kun tarvikkeen varastosaldo alittaa uutta tarviketta lisättäessä määritetyn hälytysrajan, tarvike lisätään automaattisesti keräilylistan 
                            taulukkoon. Tulevaa tavaratilausta varten on suositeltavaa määrittää mahdollinen ostopaikan tuotenumero tilauksen tekemisen helpottamiseksi. 
                            <br><br>
                            <img src="/media/kerailylista2.JPG" alt="kerailylista2" width="100%">
                            Uuden tarvikkeen lisäyksen yhteydessä määritelty, yleisesti käytetty hankintapaikka ilmoitetaan hankintapaikka-sarakkeessa. Mikäli tarvike aiotaan ostaa muualta, 
                            ei tästä tarvitse välittää. <b>Tilataan</b> - sarakkeessa määritellään tarvikkeen tilausmäärä. Tätä kenttää muuttaessa yht-sarakkeen arvo päivittyy. 
                            <br><br>
                            <b>Poista</b> - valinta poistaa rivin, mikäli tuotetta ei haluta huomioida keräilylistassa. Tämä tulee silloin myös poistaa manuaalisesti tarviketaulukosta, tai muuttaa 
                            hälytysarvo nollaan, jotta tarvike ei ilmesty listaan tarpeettomasti.
                            <br><br>
                            Kun tilausmäärät on valittu halutuiksi, <b>Tallenna PDF</b> - painike tallentaa listan tiedot pdf-formaatissa.
                            <br><br>
                            Vinkki: Mikäli halutaan tallentaa tietyn varaston tai tietyn hankintapaikan listaus, tulee hakukenttään syöttää jompi kumpi edellämainituista, ja tallentaa pdf vasta tämän jälkeen.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Buttoni, jolla pääsee sivun yläreunaan takaisin -->
    <button id="topBtn">Ylös</button>
</body>

</html>