<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<script>
    $(document).ready(function () {

        // tablen lajittelu

        $(document).on("click", "th", function () {
            var table = $(this).parents('table').eq(0)
            var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
            this.asc = !this.asc
            if (!this.asc) { rows = rows.reverse() }
            for (var i = 0; i < rows.length; i++) { table.append(rows[i]) }
        })

        function comparer(index) {
            return function (a, b) {
                var valA = getCellValue(a, index), valB = getCellValue(b, index)
                return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
            }
        }

        function getCellValue(row, index) { return $(row).children('td').eq(index).text() }

            var timeOut = 500;

        
       
        // Koodi top-buttonin ilmestymiselle/piilottamiselle
        $(window).scroll(function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                $("#topBtn").css("display", "block");
            } 
            else {
                $("#topBtn").css("display", "none");
            }
        }); 

        $("#topBtn").click(function topFunction() {
            $(document.body).scrollTop(0);
            $(document.documentElement).scrollTop(0);

        });

        // Käy tarvikkeet-taulun läpi ja lisää raja-arvon alittavat tarvikkeet klistat-tauluun.
        function suodataLoppuvat() {
            $.getJSON("/tarvikkeet", function (data) {
                        
                var len = data.length;
                for (var i = 0; i < len; i++) {
                var rarvo = data[i].halytysraja;
                var maara = data[i].maara;

                if (maara < rarvo) {
                    $.post('/klistat?tarvikeID=' + data[i].ID, {})   
                }
                      
            }
            
                
        }); 
            
        }

        function tyhjennaKlistatTaulu() {
            var listID = 0;
            $.ajax({      
                url: '/klistat',
                method: 'DELETE',
                data: {"klistaID" : listID}    
            })
        }

        // Hakukentän toiminnallisuus
        $("#hakuInput").on("keyup", function () {
            var filter = $(this).val().toUpperCase();

            // haku tapahtuu kolmen ensimmäisen sarakkeen välillä.
            $("table tr").each(function () {
                if ($(this).closest('tr').children('td:nth-child(1)').text().toUpperCase().match(filter)
                    || $(this).closest('tr').children('td:nth-child(2)').text().toUpperCase().match(filter)
                    || $(this).closest('tr').children('td:nth-child(3)').text().toUpperCase().match(filter)
                ) {
                    $("#tableRow").show();
                    $(this).show();
                } else {
                    $("#tableRow").show();
                    $(this).hide();
                }
            })
        });



        // Listaa tarvikkeet taulukkoon.
        function listaaKlista() {
            $("#kerailyTaulu").empty();
            $("#kerailyTaulu").html('<thead class="thead-dark"><tr id="tableRow"><th scope="col">Id</th><th scope="col">Nimike</th><th scope="col">Kuvaus</th><th scope="col">Varastossa</th><th scope="col">Yksikkö</th><th scope="col">Varasto</th><th scope="col">Poisto</th></tr>');
            $.getJSON("/klistat", function (data) {
                var len = data.length;
                for (var i = 0; i < len; i++) {
                    $("#kerailyTaulu").append(
                        "<tr>" +
                        "<th scope='row'>" + data[i].ID + "</th>" +
                        "<td>" + data[i].nimi + "</td>" +
                        "<td>" + data[i].kuvaus + "</td>" +
                        "<td>" + data[i].maara + "</td>" +
                        "<td>" + data[i].yksikko + "</td>" +
                        "<td>" + data[i].varasto + "</td>" +
                        "<td>" + "<a href='javascript:void(0);' class='removep'>Poista</a>" + "</td>" + "</tr>"

                    )
                    $("#kerailyTaulu").append("</tbody>")
                }
            })
        };

        //Tulostus
        function tulosta() {
            var mywindow = window.open('', 'PRINT', 'height=600,width=800');

            mywindow.document.write('<html><head><title>Tulostus</title>');
            mywindow.document.write('</head><body >');
            mywindow.document.write('<h1>Keräilylista</h1>');
            mywindow.document.write('<table>')
            mywindow.document.write(document.getElementById("kerailyTaulu").innerHTML);
            mywindow.document.write('</table></body></html>');

            mywindow.document.close();
            mywindow.focus(); 

            mywindow.print();

        };

        tyhjennaKlistatTaulu();

        suodataLoppuvat();
        
        $("#btnHaeListaus").click(function() {
            listaaKlista();
        })

        /*$("#btnLisaaTauluun").click(function() {
            suodataLoppuvat();
        })

        $("#btnTyhjennaTaulu").click(function() {
            tyhjennaKlistatTaulu();
        })
        */

        $("#btnTulosta").click(function() {
            tulosta();
        })

        

    });
</script>

<body>

    <div id="yhteenvetodiv">
        <%- include('partials/navbar', {kayttoOikeudet : kayttoOikeus, navKayttajatunnus : kayttajatunnus}) %>
        <div class="mainwrapper">
            <br>
            <br>
            <h1>Keräilylista</h1>
            <hr>

            <div id="suodatusContainer">
                <div class="row justify-content-sm-center">
                    <input type="text" placeholder="Hae">
                 <!--<button type="button" id="btnTyhjennaKlista" class="btn btn-dark">Tyhjennä lista</button>-->
                    <button type="button" id="btnHaeListaus" class="btn btn-dark">Hae listaus</button>
                  <!--  <button type="button" id="btnLisaaTauluun" class="btn btn-dark">Lisää tauluun</button> -->
                  <!--  <button type="button" id="btnTyhjennaTaulu" class="btn btn-dark">Tyhjennä taulu</button> -->
                    <button type="button" id="btnTulosta" class="btn btn-dark">Tulosta</button>

                </div>
            </div>


            <table class="table" id="kerailyTaulu">
            </table>

            <!--
                    <p>Yhteensä</p>
                    <input type="text" id="txbYhteensa" readonly>
                -->
        </div>
    </div>
    <!-- Buttoni, jolla pääsee sivun yläreunaan takaisin -->
    <button id="topBtn">Ylös</button>
</body>

</html>
