<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Luokkien hallinta</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <script>
        $(document).ready(function(){

            // Koodi top-buttonin ilmestymiselle/piilottamiselle

            $(window).scroll(function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    $("#topBtn").css("display", "block");
                } else {
                    $("#topBtn").css("display", "none");
                }
            });

            $("#topBtn").click(function topFunction() {
                $(document.body).scrollTop(0);
                $(document.documentElement).scrollTop(0);
            });		

            // Suoritetaan uutta luokkaa luodessa. Validoi ekaksi lomakkeen tiedot, jos kaikki ok -> tekee ajax kutsun

            $('#lisays').submit(function(event) {
                event.preventDefault();
                if ($('#lisays')[0].checkValidity() === false) {
                    event.stopPropagation();
                } else {
                    var nimi = document.getElementById("nimi").value;
                    $.ajax({
                        url: "/luokat?nimi=" + nimi,
                        type: 'POST',
                        success: function(result) {
                            $('#lisaaLuokka').modal('toggle');
                            setTimeout(paivita(), 500);
                        }
                    });
                }
                $('#lisays').addClass('was-validated');
            });


            // Suoritetaan luokkaa muokatessa. Validoi ekaksi lomakkeen tiedot, jos kaikki ok -> tekee ajax kutsun

            $('#muokkaus').submit(function(event) {
                event.preventDefault();
                if ($('#muokkaus')[0].checkValidity() === false) {
                    event.stopPropagation();
                } else {
                    var nimi = document.getElementById("mnimi").value;
                    var luokkaID = document.getElementById("mluokkaID").value;
                    $.ajax({
                        url: "/luokat?mnimi=" + nimi + "&mluokkaID=" + luokkaID,
                        type: 'PUT',
                        success: function(result) {
                            $('#muokkaaLuokkaa').modal('toggle');
                            setTimeout(paivita(), 500);
                        }
                    });
                }
                $('#muokkaus').addClass('was-validated');
            });


            $('#muokkaaLuokkaa').on('show.bs.modal', function(event) {
                var button = $(event.relatedTarget)
                var luokkaID = button.data('luokkaid')
                var modal = $(this)
                modal.find('.modal-body #mluokkaID').val(luokkaID);
                $.get( "/luokat", { "mluokkaID" : luokkaID }).done(function(data) {
                    modal.find('.modal-body #mnimi').val(data[0].nimi)
                })
            });
            $('#poistoVahvistus').on('shown.bs.modal', function(event) {

                var button = $(event.relatedTarget);
                var luokkaID = button.data('luokkaid');
                $('#vahvistaPoisto').data('luokka', luokkaID)

            });
            $('#vahvistaPoisto').click(function() {

                poistaLuokka($(this).data('luokka'));
            });


            $('.modal').on('hidden.bs.modal', function() {
                $('.modal-backdrop').hide();
                $(this).find('form').trigger('reset');
            })
            function poistaLuokka(luokkaID) {
                $.ajax({
                    url: "/luokat?luokkaID=" + luokkaID,
                    type: 'DELETE',
                    success: function(results) {
                        $('#poistoVahvistus').modal('toggle');
                        setTimeout(paivita(), 500);
                    }
                })
            }




            function paivita() {

                $("#luokat tbody tr").remove();
                $.getJSON( "/luokat", function (data) {
                    var len = data.length;
                    for (var i=0; i < len; i++) {
                        $("#luokat").append(
                            "<tr>" + 
                            "<td>" + data[i].luokkaID + "</td>" +
                            "<td>" + data[i].nimi + "</td>" +
                            "<td><button type='button' id='muokkaabtn' class='btn btn-dark' data-toggle='modal' data-target='#muokkaaLuokkaa' data-luokkaID='" + data[i].luokkaID + "'>Muokkaa</button>" +
                            "<td><button type='button' id='poistabtn' class='close' data-toggle='modal' data-target='#poistoVahvistus' aria-label='Close' data-luokkaID='" + data[i].luokkaID + "'><span aria-hidden='true'>&times;</span></button>" +
                            "</tr>"
                        )

                    }
                })

            }

            $(document).on("click", "#muokkaaLuokkaabtn", function() {

            });
            $(document).on("click", "#paivita", function() {
                setTimeout(paivita(), 200);
            });
            paivita();
        })
    </script>

    <body>
        <div id="luokkienHallinta">
            <%- include('partials/navbar', {kayttoOikeudet : kayttoOikeus, navKayttajatunnus : kayttajatunnus}) %>
            <div class="mainwrapper">
                <br>
                <br>
                <h1>Luokkien hallinta</h1>
                <hr>
                <br>
                <div class="row" id="luokatContainer">
                    <div class="col-sm-10">
                        <button type="button" id="lisaabtn" class="btn btn-dark btn-md" data-toggle="modal" data-target="#lisaaLuokka">Lisää luokka</button>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-md btn-dark fa fa-refresh" id="paivita" aria-hidden="true"></button>
                    </div>
                    <div class="col-sm-12">
                        <br>
                        <table class="table" id="luokat">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Luokan nimi</th>
                                    <th scope="col">Muokkaa</th>
                                    <th scope="col">Poista</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="modal fade" id="lisaaLuokka" tabindex="-1" role="dialog" aria-labelledby="lisaaLuokkaLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="lisaaLuokkaLabel">Luo uusi luokka</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form class="needs-validation" id="lisays" novalidate>
                                    <div class="form-group">
                                        <label for="nimi" class="col-form-label">Luokan nimi</label>
                                        <input type="text" class="form-control" name="nimi" id="nimi" required>
                                        <div class="valid-feedback"></div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Peruuta</button>
                                        <button type="submit" class="btn btn-primary" id="luoLuokka">Tallenna</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="muokkaaLuokkaa" tabindex="-1" role="dialog" aria-labelledby="muokkaaLuokkaaLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="muokkaaLuokkaaLabel">Muokkaa luokkaa</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form class="needs-validation" id="muokkaus" novalidate>
                                    <input type="text" class="form-control" id="mluokkaID" hidden>
                                    <div class="form-group">
                                        <label for="nimi" class="col-form-label">Luokan nimi</label>
                                        <input type="text" class="form-control" id="mnimi" required>
                                        <div class="valid-feedback"></div>
                                    </div>


                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Peruuta</button>
                                        <button type="submit" class="btn btn-primary" id="muokkaaLuokkaabtn">Tallenna</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="poistoVahvistus" tabindex="-1" role="dialog" aria-labelledby="poistaLuokkaLabel" aria-hidden="true" style='display: none'>
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="poistaLuokkaLabel">Poista luokka</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="container">
                                        <p>Haluatko varmasti poistaa luokan?</p>
                                        <p id="poistettavaLuokka" hidden>" "</p>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Peruuta</button>
                                            <button type="button" class="btn btn-primary" data-luokka="" id="vahvistaPoisto">Kyllä</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Buttoni, jolla pääsee sivun yläreunaan takaisin -->
        <button id="topBtn">Ylös</button>
    </body>
</html>
