<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Noutolista</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <script>


        $(document).ready(function(){
		
        // Koodi top-buttonin ilmestymiselle/piilottamiselle

        $(window).scroll(function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                $("#topBtn").css("display", "block");
            } else {
                $("#topBtn").css("display", "none");
            }
        });

        $("#topBtn").click(function topFunction() {
            $(document.body).scrollTop(0);
            $(document.documentElement).scrollTop(0);
        });


            var timeOut = 500;

            // Hakee ostoskorin rivit taulukkoon.
            function listaaKori() {
                var yhteensa = 0; // Apumuuttuja kokonaishinnan laskemiselle.
                $("#koriTaulu").empty();
                $("#koriTaulu").html('<thead class="thead-dark"><tr><th scope="col">Id</th><th scope="col">Nimi</th>' +
                    '<th scope="col">Varastossa</th><th scope="col">Määrä</th><th scope="col">Yksikkö</th><th scope="col">Hinta (€)</th><th scope="col">Käsittelijä</th><th scope="col">(painikesarake)</th></tr>');
                $.getJSON("http://127.0.0.1:3002/ostoskori", function (data) {


                    var len = data.length;

                    for (var i = 0; i < len; i++) {
                        $("#koriTaulu").append(
                            "<tr>" +
                            "<td>" + data[i].id + "</th>" +
                            "<td>" + data[i].nimi + "</td>" +
                            "<td>" + data[i].varastossa + "</td>" +
                            "<td>" + "<input type='number' placeholder='0'>" + "</td>" +
                            "<td>" + data[i].yksikko + "</td>" +
                            "<td>" + data[i].hinta + "</td>" +
                            "<td>" + data[i].kasittelija + "</td>" +
                            "<td>" + "<a href='javascript:void(0);' class='poistaListasta'>Poista</a>" + "</td>" + "</tr>"
                        )

                        //$("#taulu").append("</tbody>")

                        yhteensa += Number(data[i].hinta);
                    }

                    // Lisää ostoskorilistauksen loppuun rivin, jossa on tuotteiden kokonaishinta.
                    $("#koriTaulu").append(
                        "<tr>" +
                        "<th scope='row'>" + "</th>" +
                        "<td>" + "</td>" +
                        "<td>" + "</td>" +
                        "<td>" + "</td>" +
                        "<td>" + "Yhteensä (€):" +"</td>" +
                        "<td>" + yhteensa + "</td>" +
                        "<td>" + "</td>" +
                        "<td>" + "</td>" + "</tr>"
                    )

                })


            };

            // Poistaa noutolistasta yksittäisen tuotteen.
            $(document).on("click", "a.poistaListasta", function (e) {
                e.preventDefault();
                var listID = $(this).closest('tr').children('th:first').text();
                
                $.ajax({
                    url: 'http://localhost:3002/ostoskori',
                    method: 'DELETE',
                    data: {"ostosID" : listID}
                })
                setTimeout(() => { listaaKori(); }, timeOut);

            });


            // Tyhjentää ostoskori-taulun.
            function tyhjennaKori () {

                $.ajax({
                    url: 'http://localhost:3002/ostoskori',
                    method: 'DELETE',
                    data: {ostosID : 0}
                })
                setTimeout(() => {   listaaKori(); }, 500);
            }

            
            // Poistaa noutolistassa olevat tarvikkeet varastosta määritetyn määrän mukaisesti.
            function otaVarastosta () {

                $("#koriTaulu").find('tr').each(function (i) {

                    var $tds = $(this).find('td');
                    var poistettava = $tds.eq(1).text();
                    var maara = Number($tds.eq(2).text()) - $(this).find("td").find("input").val();
                    var noutolista = "noutolista";

                    $.ajax({
                        url: 'http://localhost:3002/tarvikkeet',
                        method: 'PUT',
                        data: {
                        "nimi" : poistettava,
                        "maara"     : maara,
                        "noutolista" : noutolista
                    }
                }) 
                
            })      
            setTimeout(() => { tyhjennaKori(); }, timeOut)
        }

      
        
        $("#btnOtaVarastosta").click(function () {
            otaVarastosta();
        });


        // Click-funktio painikkeelle, josta tyhjennetään ostoskori.
        $("#btnTyhjennaKori").click(function () {
                tyhjennaKori();
        });


        // Suorittaa listaaKori-funktion
        listaaKori();  
        
        
    });

        

        

    </script>
    <body>
        <div id="yhteenvetodiv">
            <%- include('partials/navbar', {kayttoOikeudet : kayttoOikeus, navKayttajatunnus : kayttajatunnus}) %>
            <div class="mainwrapper">
                <br>
                <br>
                <h1>Noutolista</h1>
                <hr>

                <div id="suodatusContainer">
                    <div class="row justify-content-sm-center">
                        <input type="text" placeholder="Hakukenttä (ei vielä toiminnallisuutta)">
                        <button type="button" id="btnTyhjennaKori" class="btn btn-dark">Tyhjennä kori</button>
                        <button type="button" id="btnOtaVarastosta" class="btn btn-dark">Ota varastosta</button>
                    </div>
                </div>


                <table class="table" id="koriTaulu">
                </table>

                <!--
                    <p>Yhteensä</p>
                    <input type="text" id="txbYhteensa" readonly>
                -->
            </div>
        </div>

    <!-- Buttoni, jolla pääsee sivun yläreunaan takaisin -->
    <button id="topBtn">Ylös</button>

    </body>
</html>
