<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Varastokirjanpitosovellus</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<script>
    $(document).ready(function () {

        // Ehdotus: Nimettäisiinkö taulukot esim. tyyppiTaulu-kaavalla, niin ne eivät mene keskenään sekaisin?
        // Esimerkiksi. ostoskoritaulukon nimeksi annoin "koriTaulu". 

        // Apumuuttuja muokattavan tarvikkeen valitsemista varten.
        var tarID;

        // Muuttuja keinotekoisen viiveen määrittämiseen.
        var timeOut = 500;

        // Listaa tarvikkeet taulukkoon.
        function lataaTaulukko() {
            $("#taulu").empty();
            $("#taulu").html('<thead class="thead-dark"><tr><th scope="col">Id</th><th scope="col">Nimike</th><th scope="col">Kuvaus</th><th scope="col">Määrä</th><th scope="col">Yksikkö</th><th scope="col">Muokkaa</th></tr>');
            $.getJSON("http://127.0.0.1:3002/tarvikkeet", function (data) {
                var len = data.length;
                for (var i = 0; i < len; i++) {
                    $("#taulu").append(
                        "<tr>" +
                        "<th scope='row'>" + data[i].ID + "</th>" +
                        "<td>" + data[i].nimi + "</td>" +
                        "<td>" + data[i].kuvaus + "</td>" +
                        "<td>" + data[i].maara + "</td>" +
                        "<td>" + data[i].yksikko + "</td>" +
                        "<td>" + "<a href='javascript:void(0);' class='editp'>Valitse</a>" + "</td>" + "</tr>"


                    )
                    $("#taulu").append("</tbody>")
                }
            })
        };

        // Tallentaa muokkauspainiketta klikattaessa valitun tarvikkeen id:n muuttujaan ja avaa muokkausdialogin.
        $(document).on("click", "a.editp", function (e) {
            e.preventDefault();
            tarID = $(this).parent().prev().prev().prev().prev().prev().text();

            //openProjectDialog();

        });


        // Listaa varastot pudotusvalikoihin. Vastaanottaa parametrina operoitavan valikon id:n.
        function haeVarastot(dd) {
            $.get("http://localhost:3002/varastot", function (data, status) {
                $.each(data, function (i, item) {
                    $("#" + dd).append(
                        '<option value=' + item.varastoID + '>' + item.nimi + '</option>'
                    )
                });
            });
        }

        // Listaa varastot pudotusvalikoihin. Vastaanottaa parametrina operoitavan valikon id:n.
        function haeYksikot(dd) {
            $.get("http://localhost:3002/yksikot", function (data, status) {
                $.each(data, function (i, item) {
                    $("#" + dd).append(
                        '<option value=' + item.yksikkoID + '>' + item.nimi + '</option>'
                    )
                });

            });
        }

        // Listaa tarviketyypit pudotusvalikoihin. Vastaanottaa parametrina operoitavan valikon id:n.
        function haeTarvikeTyypit(dd) {
            $.get("http://localhost:3002/tarviketyypit", function (data, status) {
                $.each(data, function (i, item) {
                    $("#" + dd).append(
                        '<option value=' + item.tyyppiID + '>' + item.nimi + '</option>'
                    )
                });
            });
        }

        // Suodattaa tarvikkeet valitun varaston perusteella.
        function suodataTaulukko(vid) {
            $("#taulu").empty();
            $("#taulu").html('<thead class="thead-dark"><tr><th scope="col">Id</th><th scope="col">Nimike</th><th scope="col">Kuvaus</th><th scope="col">Määrä</th><th scope="col">Yksikkö</th><th scope="col">(painikesarake)</th></tr>');
            $.get("http://127.0.0.1:3002/tarvikkeet", { "tarvikkeet.varastoID": vid }).done(function (data) {
                var len = data.length;
                for (var i = 0; i < len; i++) {
                    $("#taulu").append(
                        "<tr>" +
                        "<th scope='row'>" + data[i].ID + "</th>" +
                        "<td>" + data[i].Nimi + "</td>" +
                        "<td>" + data[i].Kuvaus + "</td>" +
                        "<td>" + data[i].Määrä + "</td>" +
                        "<td>" + data[i].Yksikkö + "</td>" +
                        "<td>" + "<a href='javascript:void(0);' class='editp'>Muokkaa</a>" + "</td>" + "</tr>"


                    )
                    $("#taulu").append("</tbody>")
                }
            })


        };

        // Suorittaa pudotusvalikosta valitun varaston perusteella suodatustoiminnon.
        $("#dropdown").change(function () {
            var vid = $("#dropdown").find(":selected").val();

            // Jos pudotusvalikosta on valittu muu kuin oletusarvo, suoritetaan suodatus.
            if (vid != "defaultval") {
                suodataTaulukko(vid);
            }
            // Jos pudotusvalikosta on valittu oletusarvo, listataan kaikki tarvikkeet.
            else {

                lataaTaulukko();

            }
        })

        // Lisää tarvikkeen tietokantaan ja sulkee dialogin
        $("#btnLuotarvike").click(function () {

            var nimi = $("#txbTarNim").val();
            var kuvaus = $("#txbTarKuvaus").val();
            var varasto = $("#ddVarastot").val();
            var yksikko = $("#ddYksikot").val();
            var hraja = $("#txbHalRaja").val();
            var hpaikka = $("#txbHPaikka").val();
            var hinta = $("#txbHinta").val();
            var maara = $("#txbMaara").val();
            var tyyppi = $("#ddTyypit").val();

            $.post('http://localhost:3002/tarvikkeet?nimi=' + nimi + '&kuvaus=' + kuvaus + '&varastoID=' + varasto + '&yksikkoID=' + yksikko +
                '&rarvo=' + hraja + '&hpaikka=' + hpaikka + '&hinta=' + hinta + '&maara=' + maara + '&tyyppiID=' + tyyppi,
                function (data) {
                });
            setTimeout(() => { lataaTaulukko() }, timeOut);
            $("#tarvikeDialog").dialog('close');
        });


        // Avaa dialogin tarvikkeen luomista varten.
        $("#btnLisaaTarvike").click(function () {
            avaaLisaysDialog();
            haeVarastot("ddVarastot");
            haeYksikot("ddYksikot");
            haeTarvikeTyypit("ddTyypit");
        })

        // Avaa dialogin tarvikkeen luomista varten.
        function avaaLisaysDialog() {
            $("#tarvikeDialog").dialog({
                modal: true
            })
        }

        // Lataa sivun avautuessa tarvikkeet taulukkoon.
        lataaTaulukko();

        // Lataa sivun avautuessa varastot pudotusvalikkoon.
        haeVarastot("dropdown");

    });





</script>

<body>

    <div id="yhteenvetodiv">

        <!--Lohko suodatustyökaluille-->
        <div id="suodatusContainer">
            <div class="row justify-content-sm-center">

                <!--Pudotusvalikko varaston valitseen-->
                <select class="form-control" id="dropdown">
                    <option value="defaultval">Kaikki varastot</option>
                </select>

                <!--Hakukenttä tuotteiden sanalliseen hakemiseen-->
                <input type="text" placeholder="Hakukenttä (ei vielä toiminnallisuutta)">
                <% if (kayttoOikeus == 1) { %>
                <!--Painike uuden tarvikkeen luomiseen-->
                <button type="button" id="btnLisaaTarvike" class="btn btn-dark">Uusi tarvike</button>
                <% } %>
            </div>
        </div>
        <table class="table" id="taulu">
        </table>

        <!--Dialogi tarvikkeiden luomista varten-->
        <div id="tarvikeDialog" title="Luo tarvike" style="display: none">
            Kategoria
            <select class="form-control" id="ddTyypit">
                <option value="defaultval">Valitse kategoria</option>
            </select>
            Nimike <br> <input type="text" id="txbTarNim"><br>
            Kuvaus <br> <input type="text" id="txbTarKuvaus"><br>
            Hälytysraja <br> <input type="number" id="txbHalRaja"><br>
            Hankintapaikka <br> <input type="text" id="txbHPaikka"><br>
            Hinta (€) <input type="number" id="txbHinta"><br>
            Määrä <br> <input type="number" id="txbMaara"><br>

            Yksikkö <br>
            <select class="form-control" id="ddYksikot">
                <option value="defaultval">Valitse yksikkö</option>
            </select>

            Varasto <br>
            <select class="form-control" id="ddVarastot">
                <option value="defaultval">Valitse varasto</option>
            </select>
            <br>

            <button id="btnLuotarvike" class="btn btn-primary">Lisää</button>

        </div>

    </div>
</body>

</html>