<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Varastokirjanpitosovellus</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<script>
    $(document).ready(function () {

        // Ehdotus: Nimettäisiinkö taulukot esim. tyyppiTaulu-kaavalla, niin ne eivät mene keskenään sekaisin?
        // Esimerkiksi. ostoskoritaulukon nimeksi annoin "koriTaulu". 

        // Listaa tarvikkeet taulukkoon.
        function lataaTaulukko() {
            $("#taulu").empty();
            $("#taulu").html('<thead class="thead-dark"><tr><th scope="col">Id</th><th scope="col">Nimike</th><th scope="col">Kuvaus</th><th scope="col">Määrä</th><th scope="col">Yksikkö</th><th scope="col">(painikesarake)</th></tr>');
            $.getJSON("http://127.0.0.1:3002/tarvikkeet", function (data) {
                var len = data.length;
                for (var i = 0; i < len; i++) {
                    $("#taulu").append(
                        "<tr>" +
                        "<th scope='row'>" + data[i].ID + "</th>" +
                        "<td>" + data[i].Nimi + "</td>" +
                        "<td>" + data[i].Kuvaus + "</td>" +
                        "<td>" + data[i].Määrä + "</td>" +
                        "<td>" + data[i].Yksikkö + "</td>" + "</tr>"


                    )
                    $("#taulu").append("</tbody>")
                }
            })
        };

        lataaTaulukko();

        // Listaa varastot pudotusvalikkoon.
        function haeVarastot() {
            $.get("http://localhost:3002/varastot", function (data, status) {
                $.each(data, function (i, item) {
                    $("#dropdown").append(
                        '<option value="' + item.varastoID + '">' + item.nimi + '</option>'
                    )
                });
            });
        }

        // Suodattaa tarvikkeet valitun varaston perusteella.
        function suodataTaulukko(vid) {
            $("#taulu").empty();
            $("#taulu").html('<thead class="thead-dark"><tr><th scope="col">Id</th><th scope="col">Nimike</th><th scope="col">Kuvaus</th><th scope="col">Määrä</th><th scope="col">Yksikkö</th><th scope="col">(painikesarake)</th></tr>');
            $.get("http://127.0.0.1:3002/tarvikkeet", { "tarvikkeet.varastoID": vid }).done(function (data) {
                var len = data.length;
                for (var i = 0; i < len; i++) {
                    $("#taulu").append(
                        "<tr>" +
                        "<th scope='row'>" + data[i].ID + "</th>" +
                        "<td>" + data[i].Nimi + "</td>" +
                        "<td>" + data[i].Kuvaus + "</td>" +
                        "<td>" + data[i].Määrä + "</td>" +
                        "<td>" + data[i].Yksikkö + "</td>" + "</tr>"


                    )
                    $("#taulu").append("</tbody>")
                }
            })


        };

        // Suorittaa pudotusvalikosta valitun varaston perusteella suodatustoiminnon.
        $("#dropdown").change(function () {
            var vid = $("#dropdown").find(":selected").val();

            // Jos pudotusvalikosta on valittu muu kuin oletusarvo, suoritetaan suodatus.
            if (vid != "defaultval") {
                suodataTaulukko(vid);
            }
            // Jos pudotusvalikosta on valittu oletusarvo, listataan kaikki tarvikkeet.
            else {

                lataaTaulukko();

                // Makelle: Alla oleva toiminto vaikutti olevan sama, kuin lataaTaulukko-funktio, joten vaihdoin sen
                // tilalle koodimäärän pienentämiseksi. Jos päättelyni vaikuttaa järkevältä, voi alla olevan, kommentoidun
                // koodin poistaa.

                /*
                $("#taulu").empty();
                $("#taulu").html('<thead class="thead-dark"><tr><th scope="col">Id</th><th scope="col">Nimike</th><th scope="col">Kuvaus</th><th scope="col">Määrä</th><th scope="col">Yksikkö</th><th scope="col">(painikesarake)</th></tr>');
                $.getJSON("http://127.0.0.1:3002/tarvikkeet", function (data) {
                    var len = data.length;
                    for (var i = 0; i < len; i++) {
                        $("#taulu").append(
                            "<tr>" +
                            "<th scope='row'>" + data[i].ID + "</th>" +
                            "<td>" + data[i].Nimi + "</td>" +
                            "<td>" + data[i].Kuvaus + "</td>" +
                            "<td>" + data[i].Määrä + "</td>" +
                            "<td>" + data[i].Yksikkö + "</td>" + "</tr>"
                        )
                        $("#taulu").append("</tbody>")
                    }
                }) */

            }
        })

        haeVarastot();





    });





</script>

<body>

    <div id="yhteenvetodiv">
        <div id="suodatusContainer">
            <div class="row justify-content-sm-center">
                <select class="form-control" id="dropdown">
                    <option value="defaultval">Kaikki varastot</option>
                </select>
                <input type="text" placeholder="Hakukenttä (ei vielä toiminnallisuutta)">
            </div>
        </div>
        <table class="table" id="taulu">
        </table>
    </div>



    <br>
    <br>
    <br>
    <!--
    <table class="table" id="taulu">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nimike</th>
                <th scope="col">Kuvaus</th>
                <th scope="col">Määrä</th>
                <th scope="col">Yksikkö</th>
                <th scope="col">(painikesarake)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Työkalu</th>
                <td>Vasara</td>
                <td>Tosi hyvä vasara, kahvassa kumituppi</td>
                <td>3 (yksikköä)</td>
            </tr>
            <tr>
                <th scope="row">Puutavara</th>
                <td>Mäntylauta</td>
                <td>20mm x 100 mm raakalauta</td>
                <td>25 (yksikköä)</td>
            </tr>
            <tr>
                <th scope="row">Metalli</th>
                <td>Alumiini</td>
                <td>2mm paksu alumiini</td>
                <td>3 (yksikköä)</td>
            </tr>
        </tbody>
    </table>


    <table class="table" id="taulu">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Tarviketyyppi</th>
                <th scope="col">Nimike</th>
                <th scope="col">Kuvaus</th>
                <th scope="col">Määrä</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Työkalu</th>
                <td>Vasara</td>
                <td>Tosi hyvä vasara, kahvassa kumituppi</td>
                <td>3 (yksikköä)</td>
            </tr>
            <tr>
                <th scope="row">Puutavara</th>
                <td>Mäntylauta</td>
                <td>20mm x 100 mm raakalauta</td>
                <td>25 (yksikköä)</td>
            </tr>
            <tr>
                <th scope="row">Metalli</th>
                <td>Alumiini</td>
                <td>2mm paksu alumiini</td>
                <td>3 (yksikköä)</td>
            </tr>
        </tbody>
    </table>
    -->
</body>

</html>