body, html {
  height: 100%;
  background-color:rgb(41, 43, 44);
  }


#ylanavi {
  position:static;
}

.mainwrapper {
  background-color: rgb(235, 235, 235);
  margin-left: 8%;
  margin-right: 8%;

}

#suodatusContainer {
  padding-top: 2%;
  text-align: center;
}


#sidebar {
  width: 15%;
  position: fixed;
  left: 0;
  height: 100%;
  background:rgb(41, 43, 44);
  color: #fff;
}

#taulu, #koriTaulu {
  position: relative;
  margin-top: 2%;
  margin-left:auto; 
  margin-right:auto;
  width:80%;
  transition: all 0.5s;
}


#dropdown {
  width: 15%;
  margin-right: 5%;
}

.btn-dark {
  margin-left: 20px;
}
